<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>GET 실습</title>
</head>
<body>
    <h3>form 태그 get 요청 실습</h3>
    <form action="/search" method="GET">
        <p>값 1 <input type="text" name="value1"></p>
        <p>값 2 <input type="text" name="value2"></p>
        <button type="submit">검색</button>
    </form>
</body>
</html>
