<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
</head>
<body>
    <h3>form 태그 get 요청 실습</h3>
    <form action="/search" method="GET">
        <p>값 1 <input type="text" name="value1"></p>
        <p>값 2 <input type="text" name="value2"></p>
        <button type="submit">검색</button>
    </form>
    
    <hr>

    <h3>form 태그 post 요청 실습</h3>
    <form action="/submit-form" method="POST">
        <p>숫자 1 <input type="number" name="value1"></p>
        <p>숫자 2 <input type="number" name="value2"></p>
        <button type="submit">보내기</button>
    </form>
</body>
</html>
